mat-toolbar {
    background: transparent;
    .logout {
        position: absolute;
        right: 50px;
    }
}

.main_section {
    min-height: 300px;
    margin-top: 50px;
    text-align: center;
    h1 {
        text-align: center;
        color: #de4097;
    }
    mat-list-item-content {
        text-align: center;
        mat-list-item {
            width: 60%;
        }
    }
    .list_item_ {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        h3 {
            color: #00a3e0;
            font-size: 25px;
            img {
                vertical-align: middle;
                width: 30px;
            }
        }
        p {
            width: 100%;
            display: block;
            span {
                color: #de4097;
            }
        }
        .details {
            font-size: 12px;
            bottom: 15px;
        }
        .spinner_wrap {
            min-height: 50px;
            width: 100%;
            display: block;
            text-align: center;
            .mat-progress-spinner {
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
    }
    .sub_list {
        text-align: center;
        .subscription_item {
            span {
                font-size: 10px;
                color: gray;
            }
        }
    }
    .red {
        color: red !important;
    }
    .green {
        color: green !important;
    }
    .subscription_item {
        background: rgb(251, 249, 249);
        background: 1px soldi rgb(233, 232, 232);
    }
    .detail_extra {
        color: #00a3e0 !important;
    }
    .spinner_wrap {
        min-height: 50px;
        width: 100%;
        display: block;
        text-align: center;
        .mat-progress-spinner {
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}