<mat-toolbar>
    <span>Home</span>
    <span class="example-spacer"></span>
    <button class="logout" (click)="logout()" mat-raised-button color="primary">Logout</button>


</mat-toolbar>

<mat-card>
    <mat-card-content class="main_section">
        <h1>Melita Offers</h1>
        <div class="spinner_wrap">
            <mat-spinner [diameter]="40" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </div>
        <mat-list role="list">
            <div class="row list_item_" *ngFor="let offer of offers;" role="listitem">
                <mat-grid-list cols="2" rowHeight="150px">
                    <mat-grid-tile>
                        <h3><img src="../../assets/star.png" /> {{offer.name}}</h3>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p><span>From:</span> {{offer.contractStartDate}} </p>
                        <p><span>To:</span> {{offer.contractEndDate}}</p>
                    </mat-grid-tile>
                </mat-grid-list>
                <button class="details" (click)="loadOfferSubscription(offer)" mat-raised-button color="primary">Details</button>
                <div class="sub_list" *ngIf="offer.showing">
                    <h1>Subscriptions</h1>
                    <div class="spinner_wrap">
                        <mat-spinner [diameter]="20" [style.display]="offer.loadingSubscriptions ? 'block' : 'none'"></mat-spinner>
                    </div>
                    <div class="subscription_item" *ngFor="let subscription of offer.subscriptions">
                        <mat-grid-list cols="1" rowHeight="40px">
                            <mat-grid-tile class="subscription_item">
                                <p>{{subscription.name}}
                                    <span> ({{subscription.type}})</span>
                                </p>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div *ngFor="let usage of subscription.usage;">
                            <p><span class="detail_extra">{{usage.type}}:</span> {{usage.used}}/{{usage.limit}}
                                <span [ngClass]="left >= 50? 'red':'green'"> *{{usage.left}} % remaining</span>
                            </p>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>

</mat-card>